@charset "utf-8";

/*
   Styling for slide show on index page.
*/

.slideShow {
    background-color: #f4f4f4;
}

figure h1 {
    color: #F0131E;
}

figure {
   margin: auto;
   background-color: #f4f4f4;
   width: 90%;
   padding: 20px;
}
figure img {
   display: block;
   margin: 10px auto;
   box-shadow: 3px 3px 15px black;
   width: 350px;
   height: auto;
}

figure figcaption {
   text-align: center;
   font-size: 2em;
   color: #F0131E;
   text-shadow: 2px 2px 2px #F0131E;
}